/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css2?family=Oswald");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

body {
    padding: 0 3rem;
    
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, sans-serif;
  letter-spacing: 2px;
}

p {
  margin-bottom: 1.5em;
}



